node_modules/
dist/
build/
logs/
*.log
*.tmp
*.seed
*.pid
*.pid.lock
*.local
coverage/
tmp/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.svelte-kit/
.vscode/
.idea/
.DS_Store
Thumbs.db
.eslintcache
.stylelintcache
.turbo/
.vite/

